@import 'tailwindcss';

@theme {
  --font-sans: 'JetBrains Mono', ui-monospace, monospace;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;
}

:root {
  --color-mime-blue: #0040DD;
  --color-mime-blue-dark: #0030AA;
}
